<div class="ui top fixed menu">
    <div class="item">
        <i class="camera retro  icon large"></i>
        <div class="middle aligned content">Picshure</div>
    </div>
    <div class="ui right compact menu">
        <div class="ui simple dropdown item">
            <i class="bars icon"></i>
            <div class="menu">
                <a class="item {% if nbar == 'profile' %} active" {% else %}" href="{% url 'profiles:profile'%} {% endif %}">Profile</a>
                <a class="item {% if nbar == 'waiting' %} active" {% else %}" href="{% url 'profiles:followrequest' %}{% endif %}">Requests</a>
                <a class="item {% if nbar == 'logout' %} active" {% else %}" href=" {% url 'profiles:logout'%} {% endif %} ">Logout</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>